---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AboutUsImage from '~/assets/images/about-us.png';
import Steps2 from '~/components/widgets/Steps2.astro';
import odinImg from '~/assets/images/odin.png';
import statementImg from '~/assets/images/statement.png';
import lendexeImg from '~/assets/images/lendexe.png';
const metadata = {
  title: 'n3tz - Advanced Web Application Development & Digital Consulting',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Crafting <span class="text-accent highlight">High-End Web Applications </span> for Transformative Business Solutions
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Specializing in advanced web development</span>, we go beyond basic digital
        presence. Our team is dedicated to building sophisticated, fully-functional web applications designed for
        businesses aiming to make a significant impact online. With n3tz, elevate your company with web solutions that
        are as ambitious as your vision.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <!--  <Features
    id="features"
    tagline="Features"
    title="What you get with n3tz"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    tagline="Who we are"
    title="About n3tz"
    image={{
      src: AboutUsImage,
      alt: 'n3tz team',
    }}
  >
    <Fragment slot="content">
      At n3tz, we're redefining the standards of web application development. Our mission is to forge partnerships with
      businesses poised for significant digital evolution. We specialize in delivering end-to-end web application
      services, encompassing design, conception, implementation, and consulting. Our focus is on crafting robust,
      sophisticated web applications that cater to the unique needs of ambitious enterprises. Entrust your digital
      projects to n3tz , where precision, expertise, and unparalleled quality define every solution.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features
  title="How n3tz is Your Ideal Web Application Partner"
  subtitle="At n3tz, we take pleasure in providing superior digital solutions that go above and beyond for our customers. The following are some justifications for picking us for your upcoming project:"
  tagline="Our Ideals"
  items={[
    {
      title: 'Focused Enterprise',
      description:
        'Our team specializes in high-end web application development, offering sophisticated solutions that cater to complex business needs.',
      icon: 'tabler:users-group',
    },
    {
      title: 'Tailored for Your Business',
      description:
        'We understand the uniqueness of each project. Our approach is to craft customized web applications that align precisely with your business objectives.',
      icon: 'tabler:highlight',
    },
    {
      title: 'Comprehensive Services',
      description:
        'From concept to completion, our full-service offerings ensure every aspect of your web application is expertly handled.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Collaborative Innovation',
      description: 'Merging your ideas with our tech expertise for groundbreaking web applications.',
      icon: 'tabler:messages',
    },
  ]}
>
</Features>

  <!-- Steps Widget ****************** -->

  <Content2
    id="portfolio"
    title="Showcasing n3tz’s Expertise in Web Applications"
    tagline="What we've done before"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'What we did',
        description:
          'OdinBoost, a distinguished client of ours, envisioned a state-of-the-art, secure, web-based gaming service hub, and we brought it to life. Catering to avid gamers, the platform offers boosting services for popular titles like League of Legends, Valorant, TFT, and Wild Rift. Seamless transactions are the backbone of the user experience, facilitated by a plethora of payment methods: PayPal, PayOp, Coinbase, and Stripe. Gamers can indulge in their passion, making purchases effortlessly, and immerse themselves in an unparalleled gaming journey.',
      },
    ]}
    image={{
      src: odinImg,
      alt: 'odinboost website',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://odinboost.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        OdinBoost <br /><span class="text-2xl">Custom Web Service Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>
  <!-- Content Widget **************** -->

  <Content2
    isAfterContent={true}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://lendexe.fi',
    }}
    items={[
      {
        title: 'What we did',
        description:
          'In collaboration with LendeXe Finance, n3tz played a pivotal role in enhancing their DeFi platform. Our co-founder led the Smart Contract development using Solidity, and our team built a scalable Node.js backend and a sophisticated React.js frontend, elevating the overall user experience and showcasing our capabilities in blockchain technology and web development.',
      },
    ]}
    image={{
      src: lendexeImg,
      alt: 'lendexe finance platform',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        LendeXe Finance <br /><span class="text-2xl">Web3 Lending DeFi Protocol</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>
  <!-- Content Widget **************** -->

  <Content2
    isReversed
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://statement-clo.de',
    }}
    isAfterContent={true}
    items={[
      {
        title: 'What we did',
        description:
          'When statement.clo, a purveyor of unique and contemporary apparel, sought a digital facelift, we stepped in. In tandem with the client, we meticulously reimagined their online presence, focusing on user experience, site speed, and a streamlined checkout process. The results? Every collection drop post-redesign has witnessed a sell-out, translating to soaring sales and enhanced customer satisfaction.',
      },
    ]}
    image={{
      src: statementImg,
      alt: 'statement clothing website',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Statement-Clothing <br /><span class="text-2xl">Custom Design Shopify Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>


 

  <!-- HighlightedPosts Widget ******* -->

  <!--   <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display n3tz documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

<FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that n3tz offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Who is n3tz and what does n3tz do?',
        description:
          "n3tz is a dynamic web development company specializing in creating high-end web applications. We focus on building sophisticated, functional web solutions for businesses aiming to make a significant impact online. Our services range from advanced web development to comprehensive digital consulting.",
      },
      {
        title: 'What sets n3tz apart in the web development industry?',
        description:
          "What distinguishes n3tz is our commitment to delivering end-to-end web application services that are not just technically sound but also strategically aligned with our clients' business goals. We pride ourselves on our ability to craft unique web solutions that combine innovation, efficiency, and scalability.",
      },
      {
        title: 'Can n3tz develop web applications for specific industries or niches?',
        description:
          "Yes, n3tz has expertise in developing web applications for a variety of industries and niches. Whether it's finance, gaming, e-commerce, or any other sector, we tailor our solutions to meet the unique challenges and requirements of each industry.",
      },
      {
        title: "How does n3tz ensure the security and data protection of its web applications?",
        description:
          "At n3tz, security and data protection are paramount. We incorporate robust security protocols, including SSL encryption and secure payment integrations, and ensure compliance with data protection regulations. Our commitment is to provide safe and reliable web solutions.",
      },
      {
        title: 'What technologies does n3tz specialize in for web application development?',
        description:
          "Our team is proficient in a range of modern technologies essential for cutting-edge web application development, including Node.js, React.js, and blockchain technologies like Solidity for smart contracts. This technical versatility allows us to build diverse and innovative web solutions.",
      },
      {
        title: 'How does n3tz handle the web development process from start to finish?',
        description:
          "Our process is comprehensive and collaborative, starting from understanding your vision, through the development phase, and to the final deployment. We maintain open communication with clients, providing updates and incorporating feedback to ensure the final product meets their expectations.",
      },
      
    ]}
  /> 

  <!-- Stats Widget ****************** -->

  <!--   <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch now!',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      We are here to help you <span class="text-accent highlight">grow your business</span> and make your ideas come to life.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We are a team of highly professional developers and designers who love collaborating with ambitious businesses
        and individuals to help them achieve their goals. We are here to help you grow your business and make your ideas
        come to life.
      </span>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>
</Layout>
