---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AboutUsImage from '~/assets/images/about-us.png';
import odinImg from '~/assets/images/odin.png';
import statementImg from '~/assets/images/statement.png';
import lendexeImg from '~/assets/images/lendexe.png';
const metadata = {
  title: 'n3tz - Innovative Web Application Development Collective',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Building <span class="text-accent highlight">Innovative Web Projects </span> Together
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Passionate about web development</span>, we are a collective of developers dedicated
        to creating impactful digital solutions. Our team thrives on collaboration, learning, and pushing the boundaries
        of web technology. With n3tz, join a community where your ideas and skills can flourish.
      </span>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    tagline="Who we are"
    title="About n3tz"
    image={{
      src: AboutUsImage,
      alt: 'n3tz team',
    }}
  >
    <Fragment slot="content">
      At n3tz, we're more than just developers; we're a community driven by a passion for technology and
      knowledge-sharing. Our mission is to collaborate on projects that inspire and educate, while continuously
      advancing our skills. We specialize in developing innovative web applications through a collective effort,
      blending creativity, expertise, and a love for coding. Join us in creating web solutions that make a difference.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features
    title="What Makes n3tz Special"
    subtitle="At n3tz, we thrive on collective innovation and a shared passion for technology. Here’s why our community stands out:"
    tagline="Our Principles"
    items={[
      {
        title: 'Collaborative Spirit',
        description:
          'Our collective is dedicated to high-end web application development, with a focus on working together to tackle complex challenges.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Personalized Projects',
        description:
          'We recognize the unique nature of each project. Our approach is to craft custom web applications that align with each member’s vision and goals.',
        icon: 'tabler:highlight',
      },
      {
        title: 'Holistic Development',
        description:
          'From ideation to deployment, our comprehensive services ensure every aspect of development is expertly managed through collaborative effort.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Innovative Collaboration',
        description: 'Combining our collective ideas with tech expertise to create groundbreaking web applications.',
        icon: 'tabler:messages',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Content2
    id="portfolio"
    title="Projects Our Team Members Have Worked On"
    tagline="Our Journey Together"
    subtitle="Explore the innovative projects we’ve brought to life through collaboration and shared passion."
    isReversed
    items={[
      {
        title: 'Project Overview',
        description:
          'OdinBoost, a platform envisioned for avid gamers, was brought to life by our collective. It offers boosting services for popular titles like League of Legends, Valorant, TFT, and Wild Rift. Our collective effort ensured seamless transactions and an unparalleled gaming experience.',
      },
    ]}
    image={{
      src: odinImg,
      alt: 'odinboost website',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://odinboost.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        OdinBoost <br /><span class="text-2xl">Custom Web Service Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isAfterContent={true}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://lendexe.fi',
    }}
    items={[
      {
        title: 'Project Overview',
        description:
          'In collaboration with LendeXe Finance, our team played a pivotal role in enhancing their DeFi platform. Our co-founder led the Smart Contract development using Solidity, and our team built a scalable Node.js backend and a sophisticated React.js frontend, showcasing our capabilities in blockchain technology and web development.',
      },
    ]}
    image={{
      src: lendexeImg,
      alt: 'lendexe finance platform',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        LendeXe Finance <br /><span class="text-2xl">Web3 Lending DeFi Protocol</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isReversed
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://statement-clo.de',
    }}
    isAfterContent={true}
    items={[
      {
        title: 'Project Overview',
        description:
          'When statement.clo, a purveyor of unique and contemporary apparel, sought a digital facelift, our team stepped in. We meticulously reimagined their online presence, focusing on user experience, site speed, and a streamlined checkout process. The results? Every collection drop post-redesign has witnessed a sell-out, translating to soaring sales and enhanced customer satisfaction.',
      },
    ]}
    image={{
      src: statementImg,
      alt: 'statement clothing website',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Statement-Clothing <br /><span class="text-2xl">Custom Design Shopify Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the unique approach and expertise of the n3tz collective."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Who is n3tz and what does n3tz do?',
        description:
          'n3tz is a passionate collective of developers and designers specializing in creating innovative web applications. We focus on building sophisticated, functional web solutions driven by our love for technology and development.',
      },
      {
        title: 'What sets n3tz apart in the web development industry?',
        description:
          'What distinguishes n3tz is our collaborative spirit and commitment to innovation. We combine technical expertise with creative problem-solving to deliver web applications that are not only technically sound but also aligned with our collective vision.',
      },
      {
        title: 'Can n3tz develop web applications for specific industries or niches?',
        description:
          "Yes, n3tz members have experience in developing web applications across various industries and niches. Whether it's finance, gaming, e-commerce, or other sectors, we tailor our solutions to meet the unique challenges and requirements of each industry.",
      },
      {
        title: 'How does n3tz ensure the security and data protection of its web applications?',
        description:
          'At n3tz, security and data protection are paramount. We implement robust security protocols, including SSL encryption and secure payment integrations, and ensure compliance with data protection regulations to provide safe and reliable web solutions.',
      },
      {
        title: 'What technologies does n3tz specialize in for web application development?',
        description:
          'Our team is proficient in a range of modern technologies essential for cutting-edge web application development, including Node.js, React.js, and blockchain technologies like Solidity for smart contracts. This technical versatility allows us to build diverse and innovative web solutions.',
      },
      {
        title: 'How does n3tz handle the web development process from start to finish?',
        description:
          'Our process is comprehensive and collaborative, starting from understanding your vision, through the development phase, and to the final deployment. We maintain open communication, provide updates, and incorporate feedback to ensure the final product meets our collective standards.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch now!',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      We are here to <span class="text-accent highlight">bring your ideas to life</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We are a team of passionate developers and designers who love collaborating on innovative projects. Let's work
        together to create something amazing.
      </span>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Discover insights and industry secrets from our skilled team, actively shaping the future of advanced web application development. Our blog offers a deep dive into the world of cutting-edge web technologies and practical development strategies.`}
  />
</Layout>
