---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AboutUsImage from '~/assets/images/about-us.png';
import odinImg from '~/assets/images/odin.png';
import statementImg from '~/assets/images/statement.png';
import lendexeImg from '~/assets/images/lendexe.png';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
const metadata = {
  title: 'n3tz - Kollektiv für Webentwicklung und digitale Lösungen',
  description:
    'n3tz ist ein Kollektiv leidenschaftlicher Entwickler, das sich auf die Erstellung von funktionalen und schönen Webanwendungen und Webshops spezialisiert hat.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Treten Sie bei',
        href: '/join',
        icon: 'tabler:users',
      },
    ]}
  >
    <Fragment slot="title">
      Zusammen <span class="text-accent highlight">innovative Webprojekte</span> entwickeln
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Leidenschaftlich für Webentwicklung</span>, sind wir ein Kollektiv von Entwicklern,
        das sich der Schaffung wirkungsvoller digitaler Lösungen verschrieben hat. Unser Team gedeiht durch
        Zusammenarbeit, Lernen und das Ausreizen der Grenzen der Webtechnologie. Mit n3tz können Sie einer Gemeinschaft
        beitreten, in der Ihre Ideen und Fähigkeiten gedeihen können.
      </span>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    tagline="Wer wir sind"
    title="Über n3tz"
    image={{
      src: AboutUsImage,
      alt: 'n3tz team',
    }}
  >
    <Fragment slot="content">
      Bei n3tz sind wir mehr als nur Entwickler; wir sind eine Gemeinschaft, die von einer Leidenschaft für Technologie
      und Wissensaustausch angetrieben wird. Unsere Mission ist es, an Projekten zu arbeiten, die inspirieren und
      lehren, während wir kontinuierlich unsere Fähigkeiten erweitern. Wir sind auf die Entwicklung innovativer
      Webanwendungen durch kollektive Anstrengung spezialisiert und verbinden Kreativität, Fachwissen und die Liebe zum
      Programmieren. Treten Sie uns bei und schaffen Sie mit uns Weblösungen, die einen Unterschied machen.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features
    title="Was n3tz besonders macht"
    subtitle="Bei n3tz gedeihen wir durch kollektive Innovation und eine gemeinsame Leidenschaft für Technologie. Hier ist, warum unsere Gemeinschaft heraussticht:"
    tagline="Unsere Prinzipien"
    items={[
      {
        title: 'Kollaborativer Geist',
        description:
          'Unser Kollektiv ist der Entwicklung von High-End-Webanwendungen gewidmet, mit einem Fokus darauf, gemeinsam komplexe Herausforderungen zu meistern.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Personalisierte Projekte',
        description:
          'Wir erkennen die Einzigartigkeit jedes Projekts an. Unser Ansatz besteht darin, maßgeschneiderte Webanwendungen zu entwickeln, die mit der Vision und den Zielen jedes Mitglieds übereinstimmen.',
        icon: 'tabler:highlight',
      },
      {
        title: 'Ganzheitliche Entwicklung',
        description:
          'Von der Ideenfindung bis zur Bereitstellung stellen unsere umfassenden Dienstleistungen sicher, dass jeder Aspekt der Entwicklung durch kollektive Anstrengung fachmännisch verwaltet wird.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Innovative Zusammenarbeit',
        description:
          'Wir kombinieren unsere kollektiven Ideen mit technischer Expertise, um bahnbrechende Webanwendungen zu schaffen.',
        icon: 'tabler:messages',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Content2
    id="portfolio"
    title="Projekte, an denen unsere Teammitglieder gearbeitet haben"
    tagline="Unser gemeinsamer Weg"
    subtitle="Entdecken Sie die innovativen Projekte, die wir durch Zusammenarbeit und gemeinsame Leidenschaft zum Leben erweckt haben."
    isReversed
    items={[
      {
        title: 'Projektübersicht',
        description:
          'OdinBoost, eine Plattform für begeisterte Gamer, wurde von unserem Kollektiv zum Leben erweckt. Sie bietet Boosting-Dienste für beliebte Titel wie League of Legends, Valorant, TFT und Wild Rift. Unsere kollektive Anstrengung gewährleistete nahtlose Transaktionen und ein unvergleichliches Spielerlebnis.',
      },
    ]}
    image={{
      src: odinImg,
      alt: 'odinboost website',
    }}
    callToAction={{
      target: '_blank',
      text: 'Zum Projekt',
      icon: 'tabler:chevron-right',
      href: 'https://odinboost.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        OdinBoost <br /><span class="text-2xl">Maßgeschneiderter Webservice Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isAfterContent={true}
    callToAction={{
      target: '_blank',
      text: 'Zum Projekt',
      icon: 'tabler:chevron-right',
      href: 'https://lendexe.fi',
    }}
    items={[
      {
        title: 'Projektübersicht',
        description:
          'In Zusammenarbeit mit LendeXe Finance spielte unser Team eine entscheidende Rolle bei der Verbesserung ihrer DeFi-Plattform. Unser Mitbegründer leitete die Smart-Contract-Entwicklung mit Solidity und unser Team baute ein skalierbares Node.js-Backend und ein ausgeklügeltes React.js-Frontend, was unsere Fähigkeiten in der Blockchain-Technologie und Webentwicklung unter Beweis stellte.',
      },
    ]}
    image={{
      src: lendexeImg,
      alt: 'lendexe finance platform',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        LendeXe Finance <br /><span class="text-2xl">Web3 Lending DeFi Protokoll</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isReversed
    callToAction={{
      target: '_blank',
      text: 'Zum Projekt',
      icon: 'tabler:chevron-right',
      href: 'https://statement-clo.de',
    }}
    isAfterContent={true}
    items={[
      {
        title: 'Projektübersicht',
        description:
          'Als statement.clo, ein Anbieter einzigartiger und moderner Kleidung, ein digitales Facelifting benötigte, trat unser Team in Aktion. Wir haben ihre Online-Präsenz sorgfältig überarbeitet und uns dabei auf die Benutzerfreundlichkeit, die Geschwindigkeit der Website und einen optimierten Bestellvorgang konzentriert. Das Ergebnis? Jede Kollektion, die nach dem Redesign auf den Markt kam, war ausverkauft, was zu steigenden Umsätzen und erhöhter Kundenzufriedenheit führte.',
      },
    ]}
    image={{
      src: statementImg,
      alt: 'statement clothing website',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Statement-Clothing <br /><span class="text-2xl">Individuell gestalteter Shopify Shop</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Häufig gestellte Fragen"
    subtitle="Tauchen Sie in die folgenden Fragen ein, um Einblicke in den einzigartigen Ansatz und das Fachwissen des n3tz-Kollektivs zu gewinnen."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Wer ist n3tz und was macht n3tz?',
        description:
          'n3tz ist ein leidenschaftliches Kollektiv von Entwicklern und Designern, das sich auf die Erstellung innovativer Webanwendungen spezialisiert hat. Unser Fokus liegt darauf, anspruchsvolle, funktionale Weblösungen zu entwickeln, die von unserer Liebe zur Technologie und Entwicklung angetrieben werden.',
      },
      {
        title: 'Was unterscheidet n3tz von anderen im Bereich der Webentwicklung?',
        description:
          'Was n3tz auszeichnet, ist unser kollaborativer Geist und unser Engagement für Innovation. Wir verbinden technisches Fachwissen mit kreativem Problemlösen, um Webanwendungen zu liefern, die nicht nur technisch einwandfrei, sondern auch mit unserer kollektiven Vision abgestimmt sind.',
      },
      {
        title: 'Kann n3tz Webanwendungen für spezifische Branchen oder Nischen entwickeln?',
        description:
          'Ja, die Mitglieder von n3tz haben Erfahrung in der Entwicklung von Webanwendungen für verschiedene Branchen und Nischen. Ob Finanzen, Gaming, E-Commerce oder andere Sektoren – wir passen unsere Lösungen an die einzigartigen Herausforderungen und Anforderungen jeder Branche an.',
      },
      {
        title: 'Wie stellt n3tz die Sicherheit und den Datenschutz seiner Webanwendungen sicher?',
        description:
          'Bei n3tz stehen Sicherheit und Datenschutz an erster Stelle. Wir implementieren robuste Sicherheitsprotokolle, einschließlich SSL-Verschlüsselung und sicherer Zahlungsintegrationen, und stellen die Einhaltung der Datenschutzbestimmungen sicher, um sichere und zuverlässige Weblösungen zu bieten.',
      },
      {
        title: 'Auf welche Technologien spezialisiert sich n3tz bei der Entwicklung von Webanwendungen?',
        description:
          'Unser Team ist versiert in einer Reihe moderner Technologien, die für die Entwicklung fortschrittlicher Webanwendungen unerlässlich sind, darunter Node.js, React.js und Blockchain-Technologien wie Solidity für Smart Contracts. Diese technische Vielseitigkeit ermöglicht es uns, vielfältige und innovative Weblösungen zu entwickeln.',
      },
      {
        title: 'Wie handhabt n3tz den Webentwicklungsprozess von Anfang bis Ende?',
        description:
          'Unser Prozess ist umfassend und kollaborativ, beginnend mit dem Verständnis Ihrer Vision über die Entwicklungsphase bis hin zur finalen Bereitstellung. Wir pflegen eine offene Kommunikation, bieten Updates und integrieren Feedback, um sicherzustellen, dass das Endprodukt unseren kollektiven Standards entspricht.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Kontaktieren Sie uns jetzt!',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Wir sind hier, um <span class="text-accent highlight">Ihre Ideen zum Leben zu erwecken</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Wir sind ein Team leidenschaftlicher Entwickler und Designer, die gerne an innovativen Projekten
        zusammenarbeiten. Lassen Sie uns gemeinsam etwas Erstaunliches schaffen.
      </span>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Erfahren Sie mehr in unserem Blog"
    information={`Entdecken Sie Einblicke und Branchensecrets von unserem erfahrenen Team, das die Zukunft der fortschrittlichen Webanwendungsentwicklung aktiv gestaltet. Unser Blog bietet einen tiefen Einblick in die Welt modernster Webtechnologien und praktischer Entwicklungsstrategien.`}
  />
</Layout>
