site:
  name: n3tz
  site: 'https://n3tz.io'
  base: '/'
  trailingSlash: false

  googleSiteVerificationId: orcPxI47GSa-cRvY11tUe6iGg2IO_RPvnA1q95iEM3M

# Default SEO metadata
metadata:
  title:
    default: n3tz
    template: '%s | n3tz'
  description: 'n3tz is a collective of passionate developers offering advanced web application development.',
  robots:
    index: true
    follow: true
  openGraph:
    site_name: n3tz
    images:
      - url: '~/assets/images/default.png'
        width: 1200
        height: 628
    type: website
  twitter:
    handle: '@onwidget'
    site: '@onwidget'
    cardType: summary_large_image

i18n:
  language: en
  textDirection: ltr

apps:
  blog:
    isEnabled: true
    postsPerPage: 6

    post:
      isEnabled: true
      permalink: '/%slug%' # Variables: %slug%, %year%, %month%, %day%, %hour%, %minute%, %second%, %category%
      robots:
        index: true

    list:
      isEnabled: true
      pathname: 'blog' # Blog main path, you can change this to "articles" (/articles)
      robots:
        index: true

    category:
      isEnabled: true
      pathname: 'category' # Category main path /category/some-category, you can change this to "group" (/group/some-category)
      robots:
        index: true

    tag:
      isEnabled: true
      pathname: 'tag' # Tag main path /tag/some-tag, you can change this to "topics" (/topics/some-category)
      robots:
        index: false

    isRelatedPostsEnabled: true
    relatedPostsCount: 4

analytics:
  vendors:
    googleAnalytics:
      id: G-MBLH60DTL5

ui:
  theme: 'system' # Values: "system" | "light" | "dark" | "light:only" | "dark:only"

  tokens:
    default:
      fonts:
        sans: Poppins
        serif: var(--ph-font-sans)
        heading: var(--ph-font-sans)
      colors:
        default: rgb(14, 13, 14)
        heading: rgb(238, 11, 116)
        muted: rgb(250, 86, 23)
        bgPage: rgb(255, 163, 253)
        primary: rgb(238, 11, 116)
        secondary: rgb(250, 86, 23)
        tertiary: rgb(250, 86, 23)
        light: rgb(255, 163, 253)
        accent: rgb(250, 86, 23)
        info: rgb(255, 163, 253)
        success: rgb(54, 211, 153)
        warning: rgb(251, 189, 35)
        error: rgb(248, 114, 114)
        link: var(--ph-color-primary)
        linkActive: var(--ph-color-link)
    dark:
      fonts: {}
      colors:
        default: rgb(14, 13, 14)
        heading: rgb(238, 11, 116)
        muted: rgb(250, 86, 23)
        bgPage: rgb(255, 163, 253)
        primary: rgb(238, 11, 116)
        secondary: rgb(250, 86, 23)
        tertiary: rgb(250, 86, 23)
        light: rgb(255, 163, 253)
        accent: rgb(250, 86, 23)
        info: rgb(255, 163, 253)
        success: rgb(54, 211, 153)
        warning: rgb(251, 189, 35)
        error: rgb(248, 114, 114)
        link: var(--ph-color-primary)
        linkActive: var(--ph-color-link)
