---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import AboutUsImage from '~/assets/images/about-us.png';
import odinImg from '~/assets/images/odin.png';
import statementImg from '~/assets/images/statement.png';
import lendexeImg from '~/assets/images/lendexe.png';
const metadata = {
  title: 'n3tz - Colectivo de desarrollo web y soluciones digitales',
  description:
    'n3tz es un colectivo de desarrolladores apasionados, especializado en la creación de aplicaciones web y tiendas en línea funcionales y atractivas.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Únete a nosotros',
        href: '/join',
        icon: 'tabler:users',
      },
    ]}
  >
    <Fragment slot="title">
      Construyendo <span class="text-accent highlight">proyectos web innovadores</span> juntos
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Apasionados por el desarrollo web</span>, somos un colectivo de desarrolladores
        dedicados a crear soluciones digitales impactantes. Nuestro equipo prospera en la colaboración, el aprendizaje y
        llevar al límite la tecnología web. Con n3tz, únete a una comunidad donde tus ideas y habilidades pueden
        florecer.
      </span>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    tagline="Quiénes somos"
    title="Sobre n3tz"
    image={{
      src: AboutUsImage,
      alt: 'equipo n3tz',
    }}
  >
    <Fragment slot="content">
      En n3tz, somos más que desarrolladores; somos una comunidad impulsada por la pasión por la tecnología y el
      intercambio de conocimientos. Nuestra misión es colaborar en proyectos que inspiren y eduquen, mientras avanzamos
      continuamente en nuestras habilidades. Nos especializamos en desarrollar aplicaciones web innovadoras a través de
      un esfuerzo colectivo, combinando creatividad, experiencia y amor por la programación. Únete a nosotros para crear
      soluciones web que marquen la diferencia.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features
    title="Lo que hace especial a n3tz"
    subtitle="En n3tz, prosperamos en la innovación colectiva y una pasión compartida por la tecnología. Aquí está por qué nuestra comunidad se destaca:"
    tagline="Nuestros Principios"
    items={[
      {
        title: 'Espíritu Colaborativo',
        description:
          'Nuestro colectivo está dedicado al desarrollo de aplicaciones web de alta gama, con un enfoque en trabajar juntos para abordar desafíos complejos.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Proyectos Personalizados',
        description:
          'Reconocemos la naturaleza única de cada proyecto. Nuestro enfoque es crear aplicaciones web personalizadas que se alineen con la visión y los objetivos de cada miembro.',
        icon: 'tabler:highlight',
      },
      {
        title: 'Desarrollo Holístico',
        description:
          'Desde la ideación hasta la implementación, nuestros servicios integrales aseguran que cada aspecto del desarrollo sea gestionado de manera experta a través del esfuerzo colaborativo.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Colaboración Innovadora',
        description:
          'Combinamos nuestras ideas colectivas con la experiencia técnica para crear aplicaciones web innovadoras.',
        icon: 'tabler:messages',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Content2
    id="portfolio"
    title="Proyectos en los que han trabajado nuestros miembros del equipo"
    tagline="Nuestro Viaje Juntos"
    subtitle="Explora los proyectos innovadores que hemos llevado a la vida a través de la colaboración y la pasión compartida."
    isReversed
    items={[
      {
        title: 'Resumen del Proyecto',
        description:
          'OdinBoost, una plataforma creada para gamers apasionados, fue llevada a la vida por nuestro colectivo. Ofrece servicios de boosting para títulos populares como League of Legends, Valorant, TFT y Wild Rift. Nuestro esfuerzo colectivo aseguró transacciones fluidas y una experiencia de juego inigualable.',
      },
    ]}
    image={{
      src: odinImg,
      alt: 'sitio web de odinboost',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://odinboost.com',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        OdinBoost <br /><span class="text-2xl">Tienda de servicios web a medida</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isAfterContent={true}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://lendexe.fi',
    }}
    items={[
      {
        title: 'Resumen del Proyecto',
        description:
          'En colaboración con LendeXe Finance, nuestro equipo desempeñó un papel fundamental en la mejora de su plataforma DeFi. Nuestro cofundador lideró el desarrollo de Smart Contracts usando Solidity y nuestro equipo construyó un backend escalable con Node.js y un frontend sofisticado con React.js, demostrando nuestras capacidades en tecnología blockchain y desarrollo web.',
      },
    ]}
    image={{
      src: lendexeImg,
      alt: 'plataforma de lendexe finance',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        LendeXe Finance <br /><span class="text-2xl">Protocolo DeFi de préstamos Web3</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Content Widget **************** -->

  <Content2
    isReversed
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://statement-clo.de',
    }}
    isAfterContent={true}
    items={[
      {
        title: 'Resumen del Proyecto',
        description:
          'Cuando statement.clo, un proveedor de ropa única y contemporánea, necesitó un rediseño digital, nuestro equipo intervino. Reimaginamos cuidadosamente su presencia en línea, enfocándonos en la experiencia del usuario, la velocidad del sitio y un proceso de pago optimizado. ¿El resultado? Cada colección lanzada después del rediseño se agotó, lo que se traduce en un aumento de las ventas y una mayor satisfacción del cliente.',
      },
    ]}
    image={{
      src: statementImg,
      alt: 'sitio web de statement clothing',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Statement-Clothing <br /><span class="text-2xl">Tienda Shopify personalizada</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Sumérgete en las siguientes preguntas para obtener información sobre el enfoque único y la experiencia del colectivo n3tz."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Quién es n3tz y qué hace n3tz?',
        description:
          'n3tz es un colectivo apasionado de desarrolladores y diseñadores especializados en crear aplicaciones web innovadoras. Nos enfocamos en construir soluciones web sofisticadas y funcionales impulsadas por nuestro amor por la tecnología y el desarrollo.',
      },
      {
        title: '¿Qué distingue a n3tz en la industria del desarrollo web?',
        description:
          'Lo que distingue a n3tz es nuestro espíritu colaborativo y nuestro compromiso con la innovación. Combinamos experiencia técnica con resolución creativa de problemas para entregar aplicaciones web que no solo son técnicamente sólidas, sino que también están alineadas con nuestra visión colectiva.',
      },
      {
        title: '¿Puede n3tz desarrollar aplicaciones web para industrias o nichos específicos?',
        description:
          'Sí, los miembros de n3tz tienen experiencia en desarrollar aplicaciones web para diversas industrias y nichos. Ya sea finanzas, gaming, comercio electrónico u otros sectores, adaptamos nuestras soluciones para enfrentar los desafíos y requisitos únicos de cada industria.',
      },
      {
        title: '¿Cómo asegura n3tz la seguridad y protección de datos de sus aplicaciones web?',
        description:
          'En n3tz, la seguridad y protección de datos son primordiales. Implementamos protocolos de seguridad robustos, incluyendo cifrado SSL e integraciones de pago seguras, y garantizamos el cumplimiento de las regulaciones de protección de datos para ofrecer soluciones web seguras y fiables.',
      },
      {
        title: '¿En qué tecnologías se especializa n3tz para el desarrollo de aplicaciones web?',
        description:
          'Nuestro equipo domina una variedad de tecnologías modernas esenciales para el desarrollo de aplicaciones web avanzadas, incluyendo Node.js, React.js y tecnologías blockchain como Solidity para contratos inteligentes. Esta versatilidad técnica nos permite construir soluciones web diversas e innovadoras.',
      },
      {
        title: '¿Cómo maneja n3tz el proceso de desarrollo web de principio a fin?',
        description:
          'Nuestro proceso es integral y colaborativo, comenzando por comprender tu visión, pasando por la fase de desarrollo y hasta el despliegue final. Mantenemos una comunicación abierta, proporcionamos actualizaciones e incorporamos comentarios para asegurarnos de que el producto final cumpla con nuestros estándares colectivos.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '¡Contáctanos ahora!',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Estamos aquí para <span class="text-accent highlight">dar vida a tus ideas</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Somos un equipo de desarrolladores y diseñadores apasionados que aman colaborar en proyectos innovadores.
        Trabajemos juntos para crear algo asombroso.
      </span>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Encuentra más contenido en nuestro Blog"
    information={`Descubre conocimientos y secretos de la industria de nuestro equipo experto, que está moldeando activamente el futuro del desarrollo de aplicaciones web avanzadas. Nuestro blog ofrece una inmersión profunda en el mundo de las tecnologías web de vanguardia y estrategias prácticas de desarrollo.`}
  />
</Layout>
